.footer1{
	padding-top: 20px;
	background-color: black;
	max-height: 350px;
	margin-bottom: -30px !important;
}
.lie{
	color:white;
	padding-left: 5px;
	text-align: left;
}
.ulm{
	list-style-type:none;
	display:flex;
	font-size: 10.5px;
	text-align: left;
}
.uls{
	list-style-type:none;
	font-size: 10.5px;
	text-align: left;
	margin-left: -20%;
	background-color: black;
}
.img1{
	margin-left: 35%;
	color:white;
	text-align: left;
}
.forh{
	font-style: arial;
}
.img2{

}
@media(max-width: 991px){
	.forh{
		display:none;
	}
	.img1{
		width: 100%;
		height: 60%;
		vertical-align: middle;
		margin-left: 70%;
	}
}
