<html>
<head>
    <script language="JavaScript" type="text/javascript">
        function send() {
            $('#form').submit(function (e) {
                $.post({% url 'ticketSys:test_ajax' %}, $(this).serialize(), function (data) {
                    $('.message').html(data.message);
                    // of course you can do something more fancy with your respone
                });
                e.preventDefault();
            });
        }
    </script>
</head>
<body>
<h1>Leave a Suggestion Here</h1>
<div class="message"></div>
<div>
    <form action="" method="post">{% csrf_token %}
        <input type="text" name="thetext"/>
        <input type="submit" value="Submit Feedback"/>
    </form>
</div>
</body>
</html>