<!--DOCTYPE html-->
    {% load staticfiles %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}ASURT{% endblock %}</title>

<!-- Latest compiled and minified JavaScript -->
  	<link href="{% static 'ticketSys/css/bootstrap.css' %}" type="text/css" rel="stylesheet">

  	<link href="{% static 'ticketSys/css/style_footer.css' %}" type="text/css" rel="stylesheet">
  	<link href="{% static 'ticketSys/css/style_header.css' %}" type="text/css" rel="stylesheet">
  	<link href="{% static 'ticketSys/css/style.css' %}" type="text/css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-default header nav1">
  <div class="container-fluid">
    <div class="navbar-header">
    <img class="img-responsive logo ic2" src="{% static 'ticketSys/images/logo.png' %}">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="row">
    <div class="collapse navbar-collapse  nav1 " id="myNavbar">
    <div class="ic">
    <a class="navbar-brand " href="#"><img class="img-responsive logo " src="{% static 'ticketSys/images/logo.png' %}" alt=""></a>
    </div>
    <div>
     <ul class="nav navbar-nav nav2">
       <li><a href="http://asuracingteam.org/about">ABOUT US</a></li>
        <li><a  href="http://asuracingteam.org/achievements">ACHIEVEMENTS</a></li>
        <li class="navbar-dropdown-toggle">
          <!--<a  href="">OUR PROJECTS</a></li>-->
        <!--&lt;!&ndash; <li ng-if="root.me"><a ng-class="{active: vm.isActive('/apply')}" ng-href="/apply">APPLY</a></li> &ndash;&gt;-->
        <!--<li ng-if="!root.me" class="navbar-dropdown-toggle">-->
          <!--<a  href="">JOIN US</a></li>-->
        <li ng-if="root.me"><a  href="http://asuracingteam.org/profile">PROFILE</a></li>
        <!-- <li ng-if="!root.me"><a ng-class="{active: vm.isActive('/user/login')}" href="/user/login">LOGIN</a></li> -->
        <li><a  href="http://asuracingteam.org/gallery">GALLERY</a></li>
        <li><a  href="http://asuracingteam.org/contact">CONTACT US</a></li>
        <li><a  href="{% url 'ticketSys:dashBoard'  %}">TICKET SYSTEM</a></li>
         <li ng-if="root.me"><a ng-click="vm.logout()" href="{% url 'registeration:logout_user' %}">LOGOUT</a></li>
      </ul>
      </div>
    </div>
    </div>
  </div>
</nav>
<div> <!-- header image -->
  <img src="{% static 'ticketSys/images/Headers/formula.jpg' %}" class="header_image">
</div>
  <div class="col-md-offset-10">
  <ul class="ulist">
    <li><a href="https://www.linkedin.com/in/asu-racing-team-00786111a" target="_blank"><img src="{% static 'ticketSys/images/Icon/2.jpg' %}" class="social-links" /></a></li>
    <li><a href="https://youtube.com/user/asuracingteam" target="_blank"><img src="{% static 'ticketSys/images/Icon/1.jpg' %}" class="social-links"  /></a></li>
    <li><a href="https://instagram.com/asurt.live/" target="_blank"><img src="{% static 'ticketSys/images/Icon/3.jpg' %}" class="social-links" /></a></li>
    <li><a href="https://twitter.com/asuracingteam" target="_blank"><img src="{% static 'ticketSys/images/Icon/4.jpg' %}" class="social-links" /></a></li>
    <li><a href="https://facebook.com/ASU.Racing.Team" target="_blank"><img src="{% static 'ticketSys/images/Icon/5.jpg' %}" class="social-links" /></a></li>
    </ul>
  </div>
 <!------------------------------------------------------->



    <div class="container rtPanel">

	 {% block body %}
	 {% endblock %}

    </div>
</div>
</div>
<div class="container-body">
      <div class="container-section">
        <h4 class="text-left"><strong>SPONSORS</strong></h4>
        <img class="img-responsive" style="margin: 0 auto;" src="{% static 'ticketSys/images/sponsors.jpg' %}" />
      </div>
    </div>

    <div class="footer footer1">
      <div class="container-fluid">
          <div class="row">
            <div class="col-sm-5 col-xs-12">
              <img class="img-responsive img1" src="{% static 'ticketSys/images/black.jpg' %}" />
              <br>
              <div class="img1">
                Copyright &copy; 2016 ASU RACING TEAM <br> All Rights Reserved.
              </div>
            </div>
            <div class="col-sm-7 col-xs-11  text-right footer1 forh">
            <ul class="ulm">
            	<!--<li><a href="" class="lie"> ABOUT US </li>-->
            	<!--<li><a href="" class="lie" style="padding-right:5px"> ACHIEVEMENTS </li>-->
            	<!--<li><a href="" style="color:white"> OUR PROJECTS <br>-->
            	<!--<ul class="uls">-->
            		<!--<li><a href="" style="color:white"> FORMULA STUDENT TEAM</li>-->
            		<!--<li><a href="" style="color:white"> ECO GASOLINE TEAM</li>-->
            		<!--<li><a href="" style="color:white"> HYBRID ELECTRIC TEAM </li>-->
            		<!--<li><a href="" style="color:white"> ROV TEAM </li>-->

            	<!--</ul>-->
            	<!--</li>-->
            	<!--<li><a href="" class="lie"> PROFILE </li>-->
            	<!--<li><a href="" class="lie"> GALLERY </li>-->
            	<!--<li><a href="" class="lie"> CONTACT US </li>-->
            </ul>

            </div>
          </div>
      </div>
    </div>

<!-- JS files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    <script src="{% static 'registeration/js/bootstrap.js' %}" />

</body>
</html>