{% extends 'ticketSys/base.html' %}
    {% load staticfiles %}

{% block title %}Tickets Dashboard{% endblock %}

{% block head %}
  	<link href="{% static 'ticketSys/css/Dashboard.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
<!--<h1>Tickets Dashboard</h1>-->
<!--<h2>Hello, {{ user }}!</h2>-->
<!--<h4><a href="{% url 'ticketSys:add_ticket' %}">Add Ticket</a></h4>-->
<!--<span><a href="/admin/">admin</a></span>-->
<!--<span><a href="{% url 'registeration:login_user' %}">login_user</a></span>-->
<!--<span><a href="{% url 'registeration:logout_user' %}">logout_user</a></span>-->
<!--<span><a href="{% url 'registeration:register' %}">registeration</a></span>-->
<!--<h3>Total {{ tickets.count }} Tickets :</h3>-->

<!--<ul>-->
    <!--{% for ticket in tickets %} &lt;!&ndash;todo display the state in a string&ndash;&gt;-->
        <!--<li><a href="{% url 'ticketSys:detail' ticket.id %}">{{ ticket.title }} - {{ ticket.state }}</a></li>-->
    <!--{% endfor %}-->
<!--</ul>-->


<!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&-->


<div class="container">
	<div class="row">

		<section class="content">
			<h1>Tickets Dashboard</h1>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-right">
							<div class="btn-group">
								<a href="{% url 'ticketSys:add_ticket' %}"><button type="button" class="btn btn-success btn-filter">Add Ticket</button></a>
								<br>
								<br>
                                <!--<button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Pendiente</button>-->
								<!--<button type="button" class="btn btn-danger btn-filter" data-target="cancelado">Cancelado</button>-->
								<!--<button type="button" class="btn btn-default btn-filter" data-target="all">Todos</button>-->
							</div>
						</div>
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
                                {% for ticket in tickets %}
									<tr>
										<td>
											<div class="media">
                                                <a class="comment-avatar pull-left" href="{% url 'ticketSys:detail' ticket.id %}"><img src="{% static 'ticketSys/images/pp.jpg' %}"></a>
                                                <div class="media-body">
													<h4 class="title">
                                                        <a href="{% url 'ticketSys:detail' ticket.id %}">{{ ticket.ticketMember }}: {{ ticket.title }}</a>
                                                        <span class="pull-right pagado">{{ ticket.state }}</span>
													</h4>
													<p class="summary">{{ ticket.content }}</p>
												</div>
											</div>
										</td>
									</tr>
                                    {% endfor %}

								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</section>

	</div>
</div>


<script src="{% static 'ticketSys/js/Dashboard_Script.js' %}"></script>

{% endblock %}