<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Detail</title>
</head>
<body>
<h1> Title: {{ ticket.title }} </h1>
<p>
    submitted by: {{ ticket.memberid }} <br>
    content : {{ ticket.content }} <br>
    about user : {{ ticket.userid }}

</p>
{#<form action="{% url 'delete_song' album.id song.id %}" method="post" style="display: inline;">#}
{#    {% csrf_token %}#}
{#    <input type="hidden" name="song_id" value="{{ song.id }}"/>#}
{#    <button type="submit" class="btn btn-danger btn-xs">#}
{#        <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete#}
{#    </button>#}
{#</form>#}
</body>
</html>